body {
    margin: 0;
}
#app {
    display: flex;
    justify-content: start;
    flex-flow: column;
    height: 100vh;
    width: 100vw;
}

#buttons-container {
 margin: 24px;
}

#card {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    margin: 20% 24px 0 24px;
}

#question, #answer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex: 1;
    align-items: center;
    text-align: center;
    font-family: cursive;
    font-size: 4em;
}

#question {
    color: dimgray;
    margin-bottom: 36px;
}

#answer {
    font-family: initial;
}

comment {
    display: block;
    color: black;
    background: aliceblue;
    border-radius: 25%;
    padding: 12px;
    margin-top: 12px;
    font-size: smaller;
}
